//registry.npmjs.org/:_authToken=3f4fa159-8294-4048-89d8-9c1a9a1271a3

# token account @evgenii.bugaev
//gitlab.kpb.lt/api/v4/projects/470/packages/npm/:_authToken=-6RUvz6KxoreH_y24Cva
//gitlab.kpb.lt/api/v4/projects/471/packages/npm/:_authToken=-6RUvz6KxoreH_y24Cva
//gitlab.kpb.lt/api/v4/packages/npm/:_authToken=-6RUvz6KxoreH_y24Cva
@frontend:registry=https://gitlab.kpb.lt/api/v4/packages/npm/